body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    /*background-color: #f2f3ec*/
    background-color: #ececec;
}

.profile h2 {
    font-family: Cinzel;
    font-weight: bold;
    color: #CFC052;
}

.profile h4 {
    margin: 2px;
    color: #5785B2;
}

.profile-pic{
    border-radius: 50%;
    width: 125px;
    border: 5px double #ebebeb;
}

.profile {
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.links {
    font-size: 30px;
    padding-top: 10px;
}

.rule {
    width: 70%;
    border-bottom: 2px solid #93948d;
    margin: auto;
    opacity: .3;
}

.profile .rule {
    padding-top: 10px;
}

.blurb {
    text-align: right;
    padding-left: 20px;
}

.yellow {
    color: #CFC052;
}

.blue {
    color: #5785B2;
}

.body h2, .awards h4, .bcw-section h4, .work-block h4{
    font-family: Cinzel;
    margin: 4px;
}

.body {
    padding: 15px;
    text-align: center;
}

.skill-block, .ed-block {
    font-size: 16px;
}

.skill-block span {
    font-size: 25px;
}

.skill {
    display: inline-block;
    padding-right: 10px;
}

.mid-section-header {
    padding-top: 40px;
}

.ed-block, .awards, .bcw-section, .work-block {
    padding-top: 15px;
}

.ed-block h4 {
    margin-bottom: 3px;
}

.rule-sm {
    width: 40%;
    border-bottom: 2px solid #93948d;
    margin: auto;
    opacity: .3;
}

.awards p, .bcw-bullets {
    padding-top: 15px;
}

.bcw-bullets {
    text-align: left;
}

 .project-thumbnails {
     padding-top: 20px;
 }